@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.bg-img{
  border: 30px solid pink;
  min-height: 100vh;
  border-image: url("../../public/assets/border-img.svg") 25 / 29px  round;
  /*border-image: url("../../public/assets/border-img.svg") 30 fill / 19px  round;*/
}

/*.bg-img{*/
/*  background-image: url("../../public/assets/border-img.svg");*/
/*  min-height: 100vh;*/
/*}*/